/*
    Document   : style.css
    Created on : Sep 14, 2020, 11:18:00 AM
    Author     : Heeseong Jeon
*/

/* reset*/
fieldset{
    border:0;
}
ul{
    list-style: none;
}
form
*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
  background: url(../image/bg-main.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
body {
    font-family: sans-serif;
    font-size: 62.5%;
}

a:link, a:visited{
    text-decoration: none;
    color: #181818;
}
.readable-hidden, legend{
    position: absolute;
    top:0;
    left: -9999%;
    width:0;
    height:0;
}
.container{
    /*background-color: #181818;*/
}

.header, .main-content, .footer{
    width: 1280px;
    margin: 0 auto;
    position: relative;
}

/* particular form page css */
.form-container{
    display: flex;
    flex-direction: column;
    transform: translateY(27%);
}
.form-container .main-content{
    display: flex;
    justify-content: center;
}
.header.form-header{
    margin-bottom: 10px;
    text-align: center;
}
.header.form-header .logo{
    font-family: 'Playfair Display SC', serif;
    color: #900;
    font-weight: 900;
    font-size: 3rem;
    text-shadow: 1px 1px 1px #fff;
}

.header.main-header{
    /*padding: 4rem;*/
    min-height: 10rem;
    /*background-color:#fff;*/
}
.header .logo-heading{
    position: absolute;
    top: 1.6rem;
    left: 2rem;
    z-index: 10;
}
.header .logo{
    font-family: 'Playfair Display SC', serif;
    font-size: 2.5rem;
    color: #900;
    font-weight: 900;
    text-shadow: 1px 1px 1px #fff;
}

.header nav{
    background-color: #900;

    position: relative;
    top: 107px;
    left: 0;

}
.nav-category{
    display: flex;
    justify-content: space-evenly;
}
.nav-category li{

    padding: 15px;
    display: inline-block;
}
.nav-category li a{
    display: block;
    color: #fff;
    font-size: 1.2rem;
    /* height: 2rem; */
    /* line-height: 2rem;*/
    
}
.nav-category li:hover, .nav-category li:focus{
    background-color: #680404;
}
.search-bar{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 80rem;
    /*background-color: gold;*/
}
.search-form{
    display: flex;
    justify-content: center;
}
.input-movie-title{
    width: 30rem;
    height: 3rem;
    padding: 3px 5px;
    height: 3rem;
    line-height: 3rem;
    font-size: 1.5rem;
}
.btn-search{
    padding: 0.8rem;
    font-size: 1.2rem;
    background-color: #900;
    border: 0;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
}
.input-movie-title, .btn-search{
    vertical-align: middle;
}


/* header - member -login/register/cart */
.member{
    position: absolute;
    top: 2rem;
    right: 2rem;
}
.member ul{
    font-size: 0;

}
.member ul li{
    font-family: 'Playfair Display SC', serif;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: bold;
    height: 3rem;
    margin-left: 1.2rem;
}
.member ul li a{
    position: relative;
    display: inline-block;
    /*padding-left: 1rem;*/
    color: #fff;
    line-height: 3rem;
    text-shadow: 1px 1px 1px #181818;
}
.member ul li a:hover::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height:1px;
    background-color: #fff;
}
/*.member ul li a:hover,
.member ul li a:focus{
    color: #900;
}*/

.btn-go-cart{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.2rem;
/*    text-shadow: 1px 1px 1px #181818;
    background-color: #fff;*/
    color: #181818;
    border: 0;
    border-radius: 2px;
    border: 1px solid #fff;
    padding: 0 1.2rem;
    height: 3rem;
    /*line-height: 3rem;*/
    /*margin-left: 1rem;*/
    cursor: pointer;
    transition: transform .2s ease-in-out;
}
.btn-go-cart:active, .btn-go-cart:focus, .btn-go-cart:hover{
    transform: scale(1.05);
}
.main-movie{
    /*background-color: #fff;*/
    padding: 2rem;
    min-height: 80rem;
}

.group{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/* main.jsp */
.movie-list{
    font-size: 1.2rem;
    /*background-color: gold;*/
    padding: 1rem 1rem 0;
}
.movie-item{
    background-color: #fff;
    width: 24%;
    margin-bottom: 1rem; 
    /*padding: 1rem;*/
    display: flex;
    flex-direction: column;
    padding:5px;
    transform: scale(1);
    transition: transform .2s ease-in-out;
}
.movie-item:hover, .movie-item:focus{
    -webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
    
    transform: scale(1.05);
}
.movie-heading{
    order:2;
    margin-bottom: 0.5rem;
}
.movie-poster{
    order: 1;
    /*background-color: green;*/
    margin-bottom: 1rem;
    max-height: 22rem;
    overflow-y: hidden;
}
.movie-poster img{
    width:100%;
}
.movie-desc{
    order: 3;
    height: 48px;
    overflow-y: hidden;
}
.more{
    display: block;
    order:4;
    font-size: 1rem;
    font-weight:bold;
    color: #181818;
    text-align: right;
    margin: 5px 0;
}
.more:hover, .more:focus{
    color: #900;
    text-decoration: underline;
}
.add-item{
    order:5;
}
.add-item button{
    width:100%;
    border: 0;
    background: #900;
    font-size: 1.2rem;
    cursor: pointer;
    color:#fff;
    text-align: center;
    padding: 1rem ;
}
.add-item button:hover, .add-item button:focus{
    background-color: #680404;
}

/* form box of index.jsp*/
.form{
    padding: 2rem;
    margin-top: 6rem 0 0;
    background-color: rgba(255,255,255,0.5);
    width: 30rem;
    height: 30rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.form .form-heading{
    font-family: 'Playfair Display SC', serif;
    font-size: 1.8rem;
    color: #181818;
    text-align: center;
    margin-bottom: 1.5rem;
}
.form input{
    width: 100%;
    height: 3rem;
    padding: 5px 8px;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
}
.form .btn-login, .form .btn-register{
    width: 40%;
    border: none;
    outline: none;
    color: #fff;
    background-color: #900;
}
.form .goto-register{
    font-size:1.5rem;
    color: #181818;
    text-align: center;
    margin-top: 1rem;
}
.form .btn-link{
    color:blue;
    font-weight: bold;
    font-size:1.8rem;
    
}
.required{

    font-size: 1.2rem;
    text-align: right;
    font-weight: bold;
}
.form .btn-go-back{
    display: inline-block;
    width: 30%;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    margin-right: 2rem;
    margin-bottom: 1.5rem;
    font-size: 1.3rem;
    color: #181818;
    border-bottom: 1px solid  #181818;
    transition: background .2s ease-in-out;

}
.form .btn-go-back:hover,.form .btn-go-back:focus{
    background-color: #181818;
    color:#fff;
}